body{
    background-color: #c29500;
}

.sect-header{
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: black;
    font-size: 16px;
    text-align: left;
}

.main-header{
    font-weight: bold;
    font-size: 34px;
    color:black;
}

.sub-header{
    color:black;
    font-size: 24px;
}

.contact-form{
    text-align: center;
}

.proj-wrapper{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 59px 50px;
    margin: 50px;
    border: 1px black solid;
}

.wrapper{
    margin: 50px;
    border: 1px black solid;
    padding: 20px;
}

/*.navigation {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }*/

.box{
    margin:10px;
    align-items: center;
    text-align: center;
    border: 1px lightslategray solid;
    padding: 15px;
}

.head-image{
    display: block;
    margin-right: auto;
}