.sect-header{
    text-align: center;
    color: beige;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

p{
    color: beige;
    font-size: 16px;
    text-align: left;
}

.main-header{
    font-weight: bold;
    font-size: 34px;
    color:beige;
}

.sub-header{
    color:beige;
    font-size: 24px;
}

.contact-form{
    text-align: center;
}

.proj-wrapper{
    display:grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 59px 50px;
    margin: 50px;
    border: 1px transparent;
    border-radius: 10px;
    background-color: rgba(170, 170, 170, 0.356);
}

.wrapper{
    margin: 50px;
    border: 1px transparent;
    border-radius: 5px;
    padding: 20px;
    background-color: rgba(179, 179, 179, 0.404);
}

.box{
    margin:10px;
    align-items: center;
    text-align: center;
    border: 1px lightslategray solid;
    border-radius: 3px;
}

.head-image{
    display: block;
    margin-right: auto;
}

.resume{
    background-color: rgb(94, 94, 94);
    color: beige;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.resume:hover{
    transform: scale(1,2);
}
