

p{
    color: beige;
    font-size: 16px;
    text-align: left;
}

.main-header{
    font-weight: bold;
    font-size: 34px;
    color:beige;
}

.sub-header{
    color:beige;
    font-size: 24px;
}





.box{
    margin:10px;
    align-items: center;
    text-align: center;
    border: 1px lightslategray solid;
    border-radius: 3px;
}

.head-image{
    display: block;
    margin-right: auto;
}

.resume{
    background-color: rgb(94, 94, 94);
    color: beige;
    text-decoration: none;
    border: 2px solid transparent;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.resume:hover{
    transform: scale(2,2);
}
