body{
    margin:0;
    text-align:center;
    background-image: linear-gradient(to bottom, #30e3ca, #65e8d3, #89ecdb, #a7f0e3, #c2f4eb, #cef6ee, #d9f7f2, #e4f9f5, #e4f9f5, #e4f9f5, #e4f9f5, #e4f9f5);
}

h1{
    font-family: 'Roboto', sans-serif;
    font-size: 5.625rem;
    color: #40514E;
}

h3{
    color: #40514E;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

a{
    color:#11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0.625rem 1.25rem;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

img{
    height: 16.1rem;
    width: 27rem;
    margin-bottom:0;
    border-radius: 2rem 2rem 0 0;
}

hr{
    border: dotted #2f8787 0.5rem;
    border-bottom: none;
    font-weight: bold;
    width: 4%;
    margin: 6.25rem auto;
    }

.bottom-container{
    margin-top: 6rem;
    background-image: linear-gradient(to bottom, #30e3ca, #22d5c3, #16c7bc, #0eb9b4, #0cabab, #1f9f9f, #299393, #2f8787, #387977, #3d6c68, #405e5a, #40514e);
    padding: 3.125rem 0 1.25rem;
}

.copywright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 1.25rem 0;
}

.wrapper{
    margin: 5rem 2rem;
    padding: 0.2rem;
    display: grid;
    grid-template-columns: repeat(4,2fr);
    gap: 2rem;
    font-family: 'Montserrat', sans-serif;
    height: auto;
}

.card{
    border: solid 0.2rem #40514e;
    border-radius: 2rem 2rem 0 0;
    box-shadow: 0.1rem 0.1rem 0.1rem;
}

.image{
    width: 100%;
    display: block;
}

.content{
    line-height: 1.5;
    font-size: 0.7rem;
    margin-top: 0;
    padding: 0.5rem 1.3rem 2rem;
    background-color: #0eb9b4;
}

.link{
    padding: 1rem;
    justify-content: space-between;
    text-decoration: none;
    align-items: center;
}

.link:hover{
    background-color: #40514E;
    cursor: pointer;
}